<% provide(:title, '主页') %>

<div class='container'>
<div style="float:left">
  <div id='leftbox' style="float:left">
    <ul>
      <li>
          <%= link_to '全部', index_path %>
        </li>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to tag.tag_name, index_path(:tag_id => tag.id) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id='search_post' style="float:left">
    <div style="float:left">
      <form action='index'>
        <input id='search_input' name = 'keyword' placeholder='搜索'>
        <button type='submit'>搜索</button>
        <% if logged_in? %>
          <%= link_to "发帖", newpost_path, class: "btn btn-xs btn-default" %>
        <% end %>
      </form>
      
    </div>
    <div id='postlist'>
      <%= will_paginate %>
      <br>
      <ul class='' style='list-style-type: none'>
      <% @posts.each do |post| %>
        <li id='post-<%= post.id %>'>
          <% @user = getUserWithID(post.user_id) %>
          <div >
            <div style="float:left">
              <span class='user'><%= link_to @user.nickname, @user %></span><br>
              <h4><%= link_to post.title, post_path(post.id) %></h4>
            </div>
            <div>
              <br><br>
              <p align='right'><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            </div>
          </div>
          
          <hr>
        </li>
      <% end %>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</div>
</div>