<% provide(:title, @post.title) %>
<p id="notice"><%= notice %></p>

<div class='contrainer'>
  <div>
    <h1><%= @post.title %></h1>
    <p class='text-center' text-color='gray-light'>
      <% @user = getUserWithID(@post.user_id) %>
      <%= link_to @user.nickname, @user %> | <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <% if logged_in? %>
        <% if @likes.count != 0 %>
          | <%= link_to '取消收藏', post_path(:post_id => @post.id, :havelike => '1', :like => '0') %>
        <% else %>
          | <%= link_to '收藏', post_path(:post_id => @post.id, :havelike => '1', :like => '1') %>
        <% end %>
        <% if @post.user_id == current_user.id %>
          | <%= link_to '删除', index_path(:del_post_id => @post.id), data: {confirm: "确定删除？"}  %>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class='postcontent'>
    <p class='lead'>
      <%= @post.content %>
    </p>
    <%= image_tag @post.picture.url if @post.picture? %>
  </div>

  <div class='postcomment'>
    
    <% if logged_in? %>
      <% if @post.user_id == current_user.id %>
        <% if @post.status_id == 1%>
          <div align='right'>
            <%= link_to '结贴', jietie_path(:post_id => @post.id), :class => 'btn btn-primary', data: {confirm: "确定结贴？"}  %>
            <%= link_to '捐赠', juanzeng_path(:post_id => @post.id), :class => 'btn btn-success', data: {confirm: "确定捐赠？"}  %>
          </div>
        <% elsif @post.status_id == 2%>
          <div align='right'>
            <%= link_to '结贴', jietie_path(:post_id => @post.id), :class => 'btn btn-primary', data: {confirm: "确定结贴？"}  %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if @post.status_id == 3 %>
      <div align='right'>
        <button class='btn btn-information' disabled="disabled">已捐赠</button>
      </div>
    <% elsif @post.status_id == 4 %>
      <div align='right'>
        <button class='btn btn-information' disabled="disabled">已结贴</button>
      </div>
    <% end %>
    <hr>
    <% if logged_in? %>
      <div>
        <p>联系方式：</p>
        <p><strong><font size='4'><%= @user.phoneNum%></font></strong></p>
        <p><strong><font size='4'><%= @user.address%></font></strong></p>
      </div>
      <hr>
    <% end %>

    <strong>评论（<%= @comments.count %>）</strong><br>
    <br><br>
    <ul class='comments'>
      <% @comments.each do |comment| %>
        <li id='comment-<%= comment.id %>'>
          <span class='from'><%= comment.form_user_id %></span>
          <span class='to'><%= '回复' + @post.title if comment.to_user_id? %></span>
          <span class="content"><%= comment.content %></span>
          <% if logged_in? %>
            <% if comment.form_user_id == current_user.id %>
              <%= link_to '[删除]'%><br>
            <% else %>
              <%= link_to '[回复]' if logged_in? %><br>
            <% end %>
            <hr>
            <div class='form-horizontal'>
              <>
            </div>

          <% else %>
          <% end %>
        </li>
      <% end %>
      </ul>
  </div>
  <% if logged_in? %>
    <% if @post.status_id == 1 or @post.status_id == 2%>
      <div class = 'postcontent'>
        <form action='addcomment'>
          <textarea id='search_input' name = 'comment' placeholder='输入你的评论'><%= @post.id %></textarea><br>
          <input id='search_input' name = 'post_id' value = <%= @post.id %> >
          <button type='submit'>提交评论</button>
        </form>
      </div>
      <form action='index'>
        <input id='search_input' name = 'keyword' placeholder='搜索'>
        <button type='submit'>搜索</button>
      </form>
      <div class = 'postcontent'>
        <%= form_tag('posts/addcomment') do %>
          <%= text_area_tag(:content) %>
          <%= text_field_tag(:post_id) %>
          <%= submit_tag('submit')%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
