<% provide(:title, @post.title) %>
<p id="notice"><%= notice %></p>

<div class='contrainer'>
  <div>
    <h1><%= @post.title %></h1>
    <p class='text-center' text-color='gray-light'>
      <% @user = getUserWithID(@post.user_id) %>
      <%= link_to @user.nickname, @user %> | <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <% if logged_in? %>
        <% if @likes.count != 0 %>
          | <%= link_to '取消收藏', post_path(:post_id => @post.id, :havelike => '1', :like => '0') %>
        <% else %>
          | <%= link_to '收藏', post_path(:post_id => @post.id, :havelike => '1', :like => '1') %>
        <% end %>
        <% if @post.user_id == current_user.id %>
          | <%= link_to '删除', index_path(:del_post_id => @post.id), data: {confirm: "确定删除？"}  %>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class='postcontent'>
    <p class='lead'>
      <%= @post.content %>
    </p>
    <%= image_tag @post.picture.url if @post.picture? %>
  </div>

  <div class='postcomment'>    
    <% if logged_in? %>
      <% if @post.user_id == current_user.id %>
        <% if @post.status_id == 1%>
          <div align='right'>
            <%= link_to '结贴', jietie_path(:post_id => @post.id), :class => 'btn btn-primary', data: {confirm: "确定结贴？"}  %>
            <%= link_to '捐赠', juanzeng_path(:post_id => @post.id), :class => 'btn btn-success', data: {confirm: "确定捐赠？"}  %>
          </div>
        <% elsif @post.status_id == 2%>
          <div align='right'>
            <%= link_to '结贴', jietie_path(:post_id => @post.id), :class => 'btn btn-primary', data: {confirm: "确定结贴？"}  %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if @post.status_id == 3 %>
      <div align='right'>
        <button class='btn btn-information' disabled="disabled">已捐赠</button>
      </div>
    <% elsif @post.status_id == 4 %>
      <div align='right'>
        <button class='btn btn-information' disabled="disabled">已结贴</button>
      </div>
    <% end %>
    <hr>
    <% if logged_in? %>
      <div>
        <p>联系方式：</p>
        <p><strong><font size='4'><%= @user.phoneNum%></font></strong></p>
        <p><strong><font size='4'><%= @user.address%></font></strong></p>
      </div>
      <hr>
    <% end %>

    <strong>评论（<%= @comments.count %>）</strong><br>
    <br>
    <ul class='comments' style='list-style-type: none'>
      <% i = 0%>
      <% @comments.each do |comment| %>
        <li id='comment-<%= comment.id %>'>
          <% @user_from = getUserWithID(comment.form_user_id) %>
          <% i = i + 1 %>
          <p><font size = '2'><%= i %>#&nbsp&nbsp@<%= link_to @user_from.nickname, @user_from %></font>
            <% if comment.to_user_id != nil %>
            <% @user_to = getUserWithID(comment.to_user_id)%>
            回复@<%= link_to @user_to.nickname, @user_to %>
          <% end %>
            &nbsp&nbsp&nbsp&nbsp<font size='1'><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></font></p>
          
          <span class="content"><font size='3'><%= comment.content %></font></span>
          <% if logged_in? %>
            <% if comment.form_user_id == current_user.id %>
              <%= link_to '[删除]', delComment_path(:post_id => @post.id, :comment_id => comment.id)%><br>
            <% else %>
              <button onclick="test(<%= comment.form_user_id %>)", style="background-color:transparent;border:0">[回复]</button>
            <% end %>
          <% else %>
          <% end %>
          <hr>
        </li>
      <% end %>
      </ul>
  </div>

  <% if logged_in? %>
    <% if @post.status_id == 1 or @post.status_id == 2%>
      <div class = 'postcontent'>
        <%= form_for Comment.new do |f| %>
          <%= f.label :评论 %>
          <%= f.text_area :content, class: 'form-control', rows: '5', id: 'comment_area' %>
          <!-- 隐藏部分 -->
          <%= f.text_field :post_id, value: @post.id, hidden: 'YES' %>
          <%= f.text_field :form_user_id, value: current_user.id, hidden: 'YES' %>
          <%= f.text_field :to_user_id, id: "to_user_id_field", hidden: 'YES' %>
          <%= f.submit "提交", class: "btn btn-primary"%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  function test(to_user_id){
    comment_area = document.getElementById('comment_area');
    comment_area.select();
    document.getElementById('to_user_id_field').value = to_user_id;
  }
</script>






